/*****************COLORS**************** */
$primary-color: #23c1c1;
$secondary-color: #0F5FB8;
$dark-color: #196c84;
$light-color: #FFFFFF;
$gray-color: #333333;

$font-size: 62.5%;
$font-menu: 2rem;
$font-family: 'Roboto, sans-serif';

